################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/etdproc
/etdproc.pyproj
/etdproc.sln
