################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/etdproc
/etdproc.pyproj
/etdproc.sln
/creds.py
/env
/__pycache__
/out
/.vs
/appdata/AlmaNZftp_rsa.txt
